* {
  margin: 0;
  padding: 0;
}

html {
  background: #fffefb;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;  
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  position: absolute;
  font-size: 1px;
  color: transparent;
}

a {
  color: #0366d6;
  text-decoration: none;
}

.navigation__menu {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  list-style: none;  
  font-size: 16px;
  background-color: #343A40;
}

.navigation__menu-item {
  position: relative;
}

.navigation__menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #212424;
}

.navigation__menu-item:last-child::after {
  display: none;
}

.navigation__menu a {
  display: block;
  text-decoration: none;
  margin: 0 20px;
  padding: 20px 0;
  color: rgb(211, 212, 211);
}

.navigation__menu a:hover {
  color: #fff
}


